html, body, div, ul, p, h2 {
	margin:0;
	padding:0;
}


#wrapper {

	width:100%;
	min-width:1024px;
	margin-left:auto;
	margin-right:auto;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:14px;
}
#navigator {
	line-height: 60px;
	color:white;
	background-color:rgba(255,255,255,0.60);
	position:relative;
	top:-493px;
	margin-bottom:-58px;
}
#navlikscont {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#navlinks{
	list-style:none;
	display:block;
}
#navlinks li{
	display:inline;
	margin-left:5em;
	margin-right:5em;
}
#navlinks li a{
	text-decoration:none;
	font-family:sans-serif;
	color:black;
	font-size:22px;
	letter-spacing:0.1em;
	display:inline-block;
}
p{
	padding-left:40px;
	padding-right:40px;
	font-size:14px;
	line-height:150%;
	color:#3B3B3B;
}
h2, h1{
	color:rgba(99,146,90,1.00);
	padding:0;
	margin-top:10px;
	margin-bottom:10px;
	padding-left:20px;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size:20px;
}
.inptable td{
	padding:5px;
	padding-left: 20px;
	padding-right: 20px;

}
.inptable input[type="number"]{
	width:150px;
	text-align: right;
}

.inptable input[type="text"]{
	width:100%;
	}

.sendbutton {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	border: 1px solid #666;
	padding:5px;
	}

#content_box {
	margin-left:auto;
	margin-right:auto;
	width:1024px;
}
#footer {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	line-height: 20px;
	color:#ADADAD;
	text-align:center;
	height: 20px;
	font-size:12px;
	padding-bottom:10px;
}
#logoimg{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
#logoimgdiv {
	background-image: url("spectrus_thin_bg.png");
	background-repeat: repeat-x;
}

#inputdiv{
	border: solid 1px grey;
	margin:20px;
	margin-left: auto;
	margin-right: auto;
	padding:40px;

	max-width:600px;
}

.midhr{
	margin:10px;
    border: 0;
    height: 1px;
    width:300px;
    margin-left: auto;
	margin-right: auto;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.endhr{
	margin-top:40px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

#graphs_container{
}

.figures_container{
	display: table;
	table-layout: fixed;
	width: 100%;
	vertical-align: middle;
	margin-bottom: 10px;
}

#quality_score{
	display: table-cell;
	width:30%;
	vertical-align: middle;	

}

#graph_subdivisions{
	display: table-cell;
	width:30%;
	vertical-align: middle;	
}
#graph_subdivisions img{width: 100%;}

#jm_container{
	display:table-cell;
	width:30%;
	vertical-align: middle;
}
#appdiv {
	border: solid 1px black;
	margin: 10px;
	border-radius: 2px;
	} 

#logdiv, #errdiv{
	display:block;
	margin:20px;
	padding: 20px;
	font-family: "Courier New";
	width: 100%;
	height: 150px;
}

a, a.visited{
	color:#1F1F1F;
}

.progress_icon{
	height:16px;
	margin-right: 16px;
}

#statusp{
	font-family: "Lucida Console", Monaco, monospace;
}
.inptable .radiotd{
 	padding:0;
 	margin:0;
 }

 .tooltip {
	display:none;
	position:absolute;
	border:1px solid grey;
	background-color:#fff;
	border-radius:2px;
	padding:10px;
	color:#3B3B3B;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:12px;
	max-width: 350px;
}
 
code {
	text-align:left;
	hypens:none;
}